body{
    background-color: aquamarine;
}
.back-ground{
    background-color: pink;
    border-radius: 30px;
}
.detail-bg{
    background-color: rgba(230, 230, 11, 0.61);
    padding: 10px 0;
    margin-bottom: 30px;
    
    border-radius: 30px;
}